doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   .container
   img.logo(src='/images/nodebloglogo.jpg')
   nav
    ul
     li
      a(href='/') Home
     li
      a(href='/posts/add') Add Post
     li
      a(href='categories/add') Add Category
    block content
    footer
     p NodeBlog &copy; 2017
